<h1><center>Features Creation Codes</center></h1>

## Steps followed in the notebook:

1. Preparing the data
2. Finding univariate data frequency
3. Finding bivariate data frequency
4. Splitting the data into chunks to work on
5. Creating list of Positive and negative words
6. Features creation
7. Merging all features to create one dataset
8. Exporting the new data to a file for modelling purpose

In [1]:
# Importing packages to unzip gzip files
import json
import gzip
import pandas as pd

## Step 1: Data preparation

In [4]:
# unzipping .gzip files
f = open("reviews_Cell_Phones_and_Accessories_CLEAN.json", 'w')

for l in parse("C:/Users/HP/Downloads/Text mining capstone/reviews_Cell_Phones_and_Accessories_5.json.gz"):
    f.write(l + '\n')

    

# Reading the json file after unzip
import pandas as pd
df = pd.read_json('C:/Users/HP/Downloads/Text mining capstone/reviews_Cell_Phones_and_Accessories_CLEAN.json',lines=True)



# Converting jason file to csv file
df.to_csv("All_Spam_data.csv")



# Reading data from csv
df=pd.read_csv("All_Spam_data.csv")

In [124]:
# Desciption of data
df.describe()

            overall  unixReviewTime          Spam
count  24999.000000    2.499700e+04  25000.000000
mean       4.143326    1.373382e+09      0.050200
std        1.200239    2.407573e+07      0.218362
min        1.000000    1.077149e+09      0.000000
25%        4.000000    1.361318e+09      0.000000
50%        5.000000    1.374192e+09      0.000000
75%        5.000000    1.387498e+09      0.000000
max        5.000000    1.406074e+09      1.000000

In [126]:
# Checking the dimention of our dataset
df.shape

(25000, 10)

In [41]:
# Names of all columns
df.columns


# To check the sum of nulls/missing values/NAN's
df.isnull().sum()


# Deleting rows with null values as the number of nulls are less compaered to our data
df=df.dropna()


# Dropping off the column 'Unnamed: 0' as its an extra index column
df=df.drop('Unnamed: 0',axis=1)

## Step 2: Finding univariate data frequency

In [33]:
# Check for duplicate reviewers using reviewerID
df_freq=df['reviewerID'].value_counts()

In [34]:
df_freq.head()

A1E1LEVQ9VQNK     70
A1EVV74UQYVKRY    66
A18U49406IPPIJ    66
AYB4ELCS5AM8P     62
A2NYK9KWFMJV4Y    61
Name: reviewerID, dtype: int64

In [35]:
 # creating frequency distribution
df_freq.to_csv("total_freq.csv")

In [36]:
df_freq=pd.read_csv("total_freq.csv")

In [95]:
 # sorted frequency in desending order
df_freq = df_freq.sort_values(by=['Frequency'], ascending=[False])


# To see the columns in the data
df_freq.columns

Index(['reviewerID', 'frequency'], dtype='object')

In [96]:
 # creating a new csv file with sorted frequency
df_freq.to_csv("total_freq_sorted.csv")

## Step 3: Finding bivariate data frequency

In [154]:
# For top reviewers do a bi variabte Frequency Distribution
df_bi_freq= df[["asin","reviewerID"]]

In [155]:
df_bi_freq=df_bi_freq.groupby(['reviewerID','asin'])['reviewerID'].agg({'Frequency':'count'})

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

In [156]:
df_bi_freq.to_csv("total_bi_freq.csv")

In [78]:
# Writing the data to file
df_bi_freq=pd.read_csv("total_bi_freq.csv")

In [80]:
# sorted frequency in desending order
df_bi_freq = df_bi_freq.sort_values(by=['Frequency'], ascending=[False])

In [ ]:
# Writing into file
df_bi_freq.tocsv("total_bi_freq_sorted.csv")

## Step 4: Splitting Data

In [56]:
# splitting the data into 40 parts with each consisting 48061 records
for i in range(0,40):
    new_df=pd.DataFrame(df_split[i])
    new_df.to_csv('C:/Users/HP/Downloads/Text mining capstone/split_data/df_{0}.csv'.format(i))

In [148]:
# Reading one of the files to check the diemntion
df_1=pd.read_csv("C:/Users/HP/Downloads/Text mining capstone/split_data/df_1.csv")

In [150]:
# Checking the dimention of the file

df_1.shape

(4861, 9)

## Step 5: Creating list of Positive and negative words

In [8]:
# Reading list of positive words
poswords = pd.read_csv("poswords.txt",header=-1,encoding = 'latin1')

In [9]:
# Reading list of negative words
negwords = pd.read_csv("negwords.txt",header=-1)

In [10]:
# Checking length of positive and negative words
len(poswords),len(negwords)

(2006, 4783)

In [11]:
# Renaming columns
poswords.columns = ["words"]
negwords.columns = ["words"]

In [12]:
# Converting the data into list of words
good_list = list(poswords["words"])
bad_list = list(negwords["words"])

## Step 6: Features creation

### F1: No_of_feedbacks

In [127]:
import numpy as np

In [128]:
A=[]
temp=[]
for i in df["helpful"]:
    d=i.strip(']')
    d=d.strip('[')
    temp.append(d.split(','))
for i in temp:
    A.append(int(i[0]))

In [129]:
df["No_of_feedbacks"]=pd.DataFrame(A)

In [130]:
len(temp)

25000

### F2: No_helpful_feedbacks

In [131]:
A=[]
for i in temp:
    A.append(int(i[1]))

In [132]:
df["No_helpful_feedbacks"]=pd.DataFrame(A)

### F3: Perc_helpful_feedbacks

In [133]:
C=df['No_helpful_feedbacks']/df['No_of_feedbacks']
C=C.fillna(0)
df["Perc_helpful_feedbacks"]=pd.DataFrame(C)

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 13 columns):
asin                      25000 non-null object
helpful                   25000 non-null object
overall                   24999 non-null float64
reviewText                24993 non-null object
reviewTime                24961 non-null object
reviewerID                24999 non-null object
reviewerName              24651 non-null object
summary                   24999 non-null object
unixReviewTime            24997 non-null float64
Spam                      25000 non-null int64
No_of_feedbacks           25000 non-null int64
No_helpful_feedbacks      25000 non-null int64
Perc_helpful_feedbacks    25000 non-null float64
dtypes: float64(3), int64(3), object(7)
memory usage: 2.5+ MB

In [135]:
df.head()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime,Spam,No_of_feedbacks,No_helpful_feedbacks,Perc_helpful_feedbacks
0,B0015RB39O,"[0, 0]",5.0,This product works pretty well for me. I don't...,"08 15, 2012",AQDA17WK201Q1,Taylor M.,Work as advertise,1.344989e+09,1,0,0,0.000000
1,B0015RB39O,"[0, 0]",1.0,Worked for 3 days then never worked again. Was...,"04 28, 2012",A1V5XDKBWSHHX5,T. Chang,Would not recommend.,1.335571e+09,1,0,0,0.000000
2,B001630QZE,"[17, 34]",1.0,always been a proponent of Bluetooth headset ...,"10 14, 2011",A1P0OVX2637TYW,terry,WAY overpriced. Math simply doesn't work out f...,1.318550e+09,1,17,34,2.000000
3,B001630QZE,"[0, 0]",4.0,"Well they say you get what you pay for, and th...","01 2, 2013",AT6701B61F2X1,The Beast,"Super clear audio, very disceet design",1.357085e+09,1,0,0,0.000000
4,B001630QZE,"[17, 20]",5.0,"OK, I splurged. I usually don't spend this muc...","06 15, 2013",A24QFMD1RXLJMB,thelastpiece,"Fantastic, but pricey",1.371254e+09,1,17,20,1.176471

### F4: Len_review_title

In [136]:
D=[]
for i in df["summary"]:
    D.append(len(str(i)))
df["Len_review_title"]=D

### F5: len_review_body

In [137]:
E=[]
for i in df["reviewText"]:
    E.append(len(str(i)))
df["len_review_body"]=E

### F6: Pos_review_Prod_sort_acs

In [138]:
df["Pos_review_Prod_sort_acs"]=df["unixReviewTime"].sort_values().rank()

### F7: Pos_review_Prod_sort_desc

In [139]:
df["Pos_review_Prod_sort_desc"]=df["unixReviewTime"].sort_values().rank(ascending=False)

### F10: Perc_pos_review

In [140]:
P=[]
for i in df["reviewText"]:  
    A=len(str(i).split())
    l=[]
    for j in (str(i).split()):
         if (j in good_list):
                l.append(j)
    B=len(l)
    P.append((B/A)*100)

In [141]:
P=pd.DataFrame(P)
df["Perc_pos_review"]=P

### F11: Perc_neg_review

In [142]:
Q=[]
for i in df["reviewText"]:  
    A=len(str(i).split())
    l=[]
    for j in (str(i).split()):
         if (j in bad_list):
                l.append(j)
    B=len(l)
    Q.append((B/A)*100)

In [143]:
Q=pd.DataFrame(Q)
df["Perc_neg_review"]=Q

### F14: Perc_num_wrd

In [144]:
import numpy as np
B=[]
Alen=[]
for i in df["reviewText"]:
    l=[]
    try:
        A=list(i.replace(" ", ""))
        Alen.append(len(A))
        for j in A:
            if j.isnumeric():
                l.append(j)
        B.append(len(l))
    except AttributeError:
        np.NaN
A=np.array(Alen)
B=np.array(B)
C=(B/A)*100

In [145]:
df["Perc_num_wrd"]=pd.DataFrame(C)

# F15: Perc_caps_wrd

In [146]:
import numpy as np
B=[]
Alen=[]
for i in df["reviewText"]:
    l=[]
    try:
        A=list(i.replace(" ", ""))
        Alen.append(len(A))
        for j in A:
            if j.isupper():
                l.append(j)
        B.append(len(l))
    except AttributeError:
        np.NaN
A=np.array(Alen)
B=np.array(B)
C=(B/A)*100

In [147]:
df["Perc_caps_wrd"]=pd.DataFrame(C)

### F16: perc_all_cap_wrd

In [148]:
import numpy as np
B=[]
Alen=[]
for i in df["reviewText"]:
    l=[]
    try:
        A=list(i.replace(" ", ""))
        for j in A:
            if j.isupper():
                l.append(j)
        B.append(len(l))
    except AttributeError:
        np.NaN
B=np.array(B)

In [149]:
df["perc_all_cap_wrd"]=pd.DataFrame(B)

### F17: Rate_review

In [150]:
A=[]
temp=[]
for i in df["helpful"]:
    d=i.strip(']')
    d=d.strip('[')
    temp.append(d.split(','))
for i in temp:
    A.append(int(i[0]))

In [151]:
df["Rate_review"]=pd.DataFrame(A)

### F18: dev_prod_rate

In [152]:
A=[]
temp=[]
B=[]
for i in df["helpful"]:
    d=i.strip(']')
    d=d.strip('[')
    temp.append(d.split(','))

for i in temp:
    A.append(int(i[1]))

for i in df["overall"]:
    B.append(i)
C=np.array(list(map(list,zip(A,B))))

import numpy as np
C=np.array(list(map(list,zip(A,B))))
C=np.std(C,axis=1)
df["dev_prod_rate"]=pd.DataFrame(C)

### F19: senti_review

In [153]:
sent = []
posall=[]
negall = []
for i,row in df.iterrows():
    
    tt = row["summary"]
    fg=0
    cnt_pos = 0
    cnt_neg=0
    pos_sent=""
    neg_sent = ""  

    for j in str(tt).split():
        if(j in good_list):
            cnt_pos = cnt_pos+1
            pos_sent= pos_sent + " " + j
                        

        elif (j in bad_list):
            cnt_neg = cnt_neg+1
            neg_sent= neg_sent + " " + j
    diff = np.abs(cnt_pos - cnt_neg) 
    posall.append(pos_sent)
    negall.append(neg_sent)    
    if(diff>=1):
        if(cnt_pos>cnt_neg):
            sent.append('good')
            
        else:
            sent.append('bad')
            
    else:
        sent.append('average')

In [154]:
df["senti_review"]=pd.DataFrame(sent)

## Step 7: Consolidated dataframe

In [155]:
# Displaying first 5 rows 
df.head(5)

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime,Spam,...,Pos_review_Prod_sort_acs,Pos_review_Prod_sort_desc,Perc_pos_review,Perc_neg_review,Perc_num_wrd,Perc_caps_wrd,perc_all_cap_wrd,Rate_review,dev_prod_rate,senti_review
0,B0015RB39O,"[0, 0]",5.0,This product works pretty well for me. I don't...,"08 15, 2012",AQDA17WK201Q1,Taylor M.,Work as advertise,1.344989e+09,1,...,362.5,24635.5,16.666667,5.555556,0.000000,2.597403,2.0,0,2.5,average
1,B0015RB39O,"[0, 0]",1.0,Worked for 3 days then never worked again. Was...,"04 28, 2012",A1V5XDKBWSHHX5,T. Chang,Would not recommend.,1.335571e+09,1,...,306.0,24692.0,10.526316,5.263158,1.041667,3.125000,3.0,0,0.5,average
2,B001630QZE,"[17, 34]",1.0,always been a proponent of Bluetooth headset ...,"10 14, 2011",A1P0OVX2637TYW,terry,WAY overpriced. Math simply doesn't work out f...,1.318550e+09,1,...,254.0,24744.0,3.260870,2.173913,1.054945,2.857143,65.0,17,16.5,good
3,B001630QZE,"[0, 0]",4.0,"Well they say you get what you pay for, and th...","01 2, 2013",AT6701B61F2X1,The Beast,"Super clear audio, very disceet design",1.357085e+09,1,...,3701.5,21296.5,2.758621,2.068966,0.154321,1.774691,23.0,0,2.0,good
4,B001630QZE,"[17, 20]",5.0,"OK, I splurged. I usually don't spend this muc...","06 15, 2013",A24QFMD1RXLJMB,thelastpiece,"Fantastic, but pricey",1.371254e+09,1,...,11096.5,13901.5,3.238866,1.214575,0.777202,3.713299,43.0,17,7.5,bad

In [156]:
# Checking the dimension of the datarframe
df.shape

(25000, 25)

## Step 8: Exporting dataframe to csv

In [158]:
# Writing the data into csv
df.to_csv("all_spam_with_features_final_dataset.csv")